.title {
  font-family: Tangerine;
  font-size: 10em;
}

.profileImage {
  width: 20em;
  height: 20em;
  border-radius: 90px;
}

@media (min-width: 769px) {
  #about_right p {
    font-size: 1.75vw;
  }
}

@media (max-width: 768px) {
  #about_right p {
    font-size: 5vw;
  }
}
