.page_about {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.backgroundColour {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.right {
    background-color: whitesmoke;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B8BDB5;
    height: 100%;
}

.title {
    font-family: Tangerine;
    font-size: 10em;
}

.mainText {
    padding: 15px;
}

.profile {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.profileImage{
    width: 20em;
    height: 20em;
    border-radius: 90px;
}