#projects_right div:nth-child(1) {
  background-color: #ffc09f;
}
#projects_right div:nth-child(2) {
  background-color: #fcf5c7;
}
#projects_right div:nth-child(3) {
  background-color: #a0ced9;
}
#projects_right div:nth-child(4) {
  background-color: #adf7b6;
}

.info {
  transition: 1s;
}

.info p{
  margin: 50px;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s;
  font-size: 1.5rem;
  color: white;
  position: absolute;
}

.info div{
  transition: 1s;
}

.info:hover {
  background: rgba(0, 0, 0, 0.9) !important;
}

.info:hover p {
  opacity: 1;
  transform: scale(1);
}

#projects_right > .info {
  transition: 0.5s;
}

#projects_right > .info:hover > div,
#projects_right > .info:hover > h1 {
  transition: 0.8s;
  opacity: 0.1;
}
