#projects_right div:nth-child(1) {
  background-color: #ffc09f;
}
#projects_right div:nth-child(2) {
  background-color: #b4a2a2;
}
#projects_right div:nth-child(3) {
  background-color: #a0ced9;
}
#projects_right div:nth-child(4) {
  background-color: #adf7b6;
}

@media (min-width: 769px) {
  .info p {
    font-size: 1.75vw;
  }
}

@media (max-width: 768px) {
  .info p {
    font-size: 5vw;
  }
}

/* .info p {
  font-size: 1.25vmax;
  text-align: center;
} 

@media screen and (max-width: 768px) {
  .info p {
    font-size: 2.5vmax;
  }
} */

/* .info div {
  transition: 1s;
}

.info:hover {
  background: rgba(0, 0, 0, 0.9) !important;
}

.info:hover p {
  opacity: 1;
  transform: scale(1);
}

#projects_right > .info {
  transition: 0.5s;
}

#projects_right > .info:hover > div,
#projects_right > .info:hover > h1 {
  transition: 0.8s;
  opacity: 0.1;
} */
