.contact_items {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #b19cd9;
}

.contact_items > * {
    font-size: 80%;
}

.links {
    color: black;
}
